.contact-us-section {
  padding: 90px 0 0;

  @include media("<tablet") {
    padding: 30px 0 0;
  }

  .title {
    margin-bottom: 45px;
    font-size: 58px;
    font-weight: 400;
    color: $mine-shaft;
    text-align: center;

    @include media("<tablet") {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  .text-holder {
    margin-bottom: 86px;
    font-size: 32px;
    color: $emperor;

    @include media("<tablet") {
      margin-bottom: 30px;
      font-size: 20px;
      text-align: center;
    }

    @include media(">tablet") {
      p {
        line-height: 57px;
      }
    }
  }

  .btn-holder {
    @include media("<tablet") {
      display: flex;
      justify-content: center;
    }
  }

  .btn {
    min-width: 235px;
    padding: 10px;
    font-size: 28px;
    box-shadow: 0px 7px 3px -3px rgba(0, 0, 0, 0.4);

    @include media("<tablet") {
      min-width: max-content;
      font-size: 24px;
      box-shadow: none;
    }
  }
}
