.footer {
  padding: 30px 0;
  background: $alabaster;

  .logo-holder {
    @include media("<tablet") {
      margin-bottom: 30px;
    }
  }

  .footer-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<tablet") {
      flex-direction: column;
      justify-content: center;
    }

    .list {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .list-item:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  .icon {
    fill: $silver;
    transition: fill 0.2s;

    @include media(">tablet") {
      &:hover {
        fill: $black;

        @include media("<tablet") {
          fill: $silver;
        }
      }
    }
  }
}
