.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 60px 0;
  background: $white;
  z-index: 1;

  &.scrolling {
    padding: 15px 0;
    box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.4);
  }

  @include media("<tablet") {
    padding: 30px 0;
  }

  .header-holder {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media(">phone", "<tablet") {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include media("<phone") {
      align-items: center;
    }
  }

  .logo-holder {
    max-width: 202px;
    width: 100%;

    img {
      width: 100%;
    }

    @include media("<tablet") {
      margin-bottom: 20px;
    }
    @include media("<phone") {
      margin-bottom: 0;
    }
  }

  .link-nav {
    @include media("<phone") {
      display: none;
    }

    &.show {
      display: block;
    }
  }

  .list {
    display: flex;

    @include media("<phone") {
      position: absolute;
      top: 50px;
      right: -15px;
      left: -15px;
      flex-direction: column;
      background: $blue;
      min-height: 100vh;
    }
  }

  .list-item {
    display: flex;
    align-items: center;
    margin-right: 41px;

    &:last-child {
      margin-right: 0;
    }

    @include media("<phone") {
      text-align: center;
      margin: 0;
    }
  }

  .link {
    background: linear-gradient(to bottom, $blue 0%, $blue 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0 0;
    font-size: 16px;
    color: $mine-shaft;
    text-decoration: none;
    transition: background-size 0.2s;

    @include media(">tablet") {
      &:hover {
        background-size: 100% 4px;
      }
    }

    @include media("<phone") {
      width: 100%;
      color: $white;
      margin: 20px;
    }
  }

  .btn {
    min-width: 100px;
    padding: 3px 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;

    @include media("<phone") {
      padding: 5px 10px;
      margin: 20px auto;
    }
  }
}

.burger-menu {
  display: none;
  position: relative;
  width: 20px;
  height: 16px;
  border: none;
  background: none;

  @include media("<phone") {
    display: block;
  }

  span {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: 3px;
    background: $blue;
    border-radius: 5px;
    transition: 0.2s;
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.active {
    span {
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
